<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>on million arab coders </title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet"  type="text/css" href="styles.css">
    </head>
    <body>
        <h1>one million arab coders</h1>
        <label for = "search" id = "search">Search: </label>
        <input type = "text" value = "" name = "searched"
         size = "30" id = "search">
       <h3> <a href=""  class = "pages">profile <br></a></h3>
       <h3> <a  href=""  class = "pages">member<br> </a></h3>
        <h3> <a  href=""  class = "pages">new subject<br> </a></h3>
       <h4> <a href="" class = "operation">create<br> </a></h4>
        <h4><a href="" class = "operation">delet<br> </a></h4>
        <h4><a href="" class = "operation">edit <br></a></h4>
        
        
    </body>
</html>